@use "tailwindcss";

:host ::ng-deep {
  .p-inputnumber input {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md
    transition-all duration-200 outline-none;

    &:focus {

    }

    &:disabled {

    }

    &.ng-invalid.ng-touched {

    }
  }
}
